.jumbotron {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
}
body {
    background-color: #5cdb95;
}
.container {
    /* height: 100%; */
    color: white;
    font-family: "Open Sans", sans-serif;
}
.title {
    font-size: 5em;
    max-width: 60%;
    text-align: center;
}
.subTitle {
    font-size: 2em;
    max-width: 60%;
    text-align: center;
    margin-top: 1em;
}

.body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    max-height: 70%;
}

.choosingImage {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1em;
}

.retunedImg {
    max-height: 700px;
    text-align: center;
    display: flex;
    flex-flow: column;
    /* max-width: 100%; */
    font-family: apercu, sans-serif;
    border-color: transparent;
    /* color: #8ee4AF; */
    /* cursor: pointer; */
    padding: 0.5em;
    /* margin: 1em; */
    background-color: transparent;
}



.selected {
    border: 2px solid blue;
    /* background-color: teal; */
}

.notSelected {
    /* background-color: blanchedalmond; */
    border: 2px solid white;
}

.root {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.temp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    flex-flow: column;
}