.jumbotron {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
}
.container {
    height: 100vh;
    color: #edf5e1;
    font-family: "Open Sans", sans-serif;
    background-color: #5cdb95;}


.body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    max-height: 70%;
}

.choosingImage {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em;
}